<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vivacventur</title>
    <link rel="icon" th:href="@{/images/favicon.png}" type="image/png">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">

    <style>
        .return-btn {
            margin-top: 20px;
            background-color: #83CC7A;
            color: #FFFFFF;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .table-container {
            border: 1px solid #027B76;
            padding: 15px;
            border-radius: 8px;
            background-color: #FFFFFF;
        }
        table {
            border-collapse: separate;
            border-spacing: 0;
            width: 100%;
        }
        table th, table td {
            border-right: 1px solid #027B76;
        }
        table th:last-child, table td:last-child {
            border-right: none;
        }
        .btn-spacing {
            margin-right: 15px;
        }
        .table th, .table td {
            text-align: center;
            vertical-align: middle;
        }
        .spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .spinner-border {
            width: 25rem;
            height: 20rem;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

<div id="spinner" class="spinner-container">
    <img th:src="@{/images/loading.gif}" alt="Loading..." class="spinner-border">
</div>

<div class="container hidden" id="userList">
    <h1>Users</h1>

    <div class="table-container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Verified</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th><input class="form-control" id="filterId" placeholder="Filter by Id" type="text"></th>
                <th><input class="form-control" id="filterUsername" placeholder="Filter by Username" type="text"></th>
                <th><input class="form-control" id="filterEmail" placeholder="Filter by Email" type="text"></th>
                <th>
                    <select class="form-control" id="filterRol">
                        <option value="">All</option>
                        <option value="USER">USER</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>
                </th>
                <th>
                    <select class="form-control" id="filterVerified">
                        <option value="">All</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="userTableBody">
            </tbody>

        </table>
    </div>
    <button class="return-btn" onclick="window.location.href='menu'">Volver</button>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    function getAccessToken() {
        return localStorage.getItem('accessToken');
    }

    function getRefreshToken() {
        return localStorage.getItem('refreshToken');
    }

    var editingRow = null;
    var originalValues = {};

    $(document).ready(function () {
        function filterTable() {
            var idFilter = $('#filterId').val().toLowerCase();
            var usernameFilter = $('#filterUsername').val().toLowerCase();
            var emailFilter = $('#filterEmail').val().toLowerCase();
            var rolFilter = $('#filterRol').val().toLowerCase();
            var verifiedFilter = $('#filterVerified').val().toLowerCase();

            $('#userTableBody tr').filter(function () {
                $(this).toggle(
                    ($(this).find('td').eq(0).text().toLowerCase().indexOf(idFilter) > -1) &&
                    ($(this).find('td').eq(1).text().toLowerCase().indexOf(usernameFilter) > -1) &&
                    ($(this).find('td').eq(2).text().toLowerCase().indexOf(emailFilter) > -1) &&
                    (rolFilter === "" || $(this).find('td').eq(3).text().toLowerCase() === rolFilter) &&
                    (verifiedFilter === "" || $(this).find('td').eq(4).text().toLowerCase() === verifiedFilter)
                );
            });
        }

        $('#filterId, #filterUsername, #filterEmail, #filterRol, #filterVerified').on('keyup change', filterTable);

        function getUsers() {
            $.ajax({
                type: 'GET',
                url: '/vivacventures/api/users',
                headers: {
                    'Authorization': 'Bearer ' + getAccessToken()
                },
                success: function (users) {
                    var userTableBody = $('#userTableBody');
                    userTableBody.empty();

                    users.forEach(function (user) {
                        var row = '<tr data-id="' + user.id + '">' +
                            '<td>' + user.id + '</td>' +
                            '<td class="editable username">' + user.username + '</td>' +
                            '<td>' + user.email + '</td>' +
                            '<td class="rol">' + user.rol + '</td>' +
                            '<td class="verified">' + user.verified + '</td>' +
                            '<td style="white-space: nowrap">' +
                            '<button class="btn btn-primary btn-sm btn-spacing edit-btn">Edit</button>' +
                            '<button class="btn btn-success btn-sm btn-spacing confirm-btn" style="display:none;">Confirm</button>' +
                            '<button class="btn btn-warning btn-sm btn-spacing cancel-btn" style="display:none;">Cancel</button>' +
                            '<button class="btn btn-danger btn-sm delete-btn">Delete</button>' +
                            '</td>' +
                            '</tr>';
                        userTableBody.append(row);
                    });

                    $('#spinner').addClass('hidden');
                    $('#userList').removeClass('hidden');

                    attachEventListeners();
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 403) {
                        window.location.href = 'error403';
                    } else if (xhr.status === 401) {
                        alert("Token Expired", error);
                        refreshTokensAndReloadUsers();
                    } else {
                        console.error("Error al cargar los usuarios: ", error);
                    }

                }
            });
        }


        function attachEventListeners() {
            $('.edit-btn').on('click', function () {
                var row = $(this).closest('tr');

                if (editingRow && editingRow !== row[0]) {
                    cancelEdit($(editingRow));
                }

                editingRow = row[0];

                originalValues = {
                    username: row.find('.username').text(),
                    rol: row.find('.rol').text(),
                    verified: row.find('.verified').text()
                };

                row.find('.username').html('<input type="text" class="form-control edit-input username" value="' + originalValues.username + '">');
                row.find('.rol').html('<select class="form-control edit-input rol"><option value="USER"' + (originalValues.rol === 'USER' ? ' selected' : '') + '>USER</option><option value="ADMIN"' + (originalValues.rol === 'ADMIN' ? ' selected' : '') + '>ADMIN</option></select>');
                row.find('.verified').html('<select class="form-control edit-input verified"><option value="true"' + (originalValues.verified === 'true' ? ' selected' : '') + '>True</option><option value="false"' + (originalValues.verified === 'false' ? ' selected' : '') + '>False</option></select>');

                row.find('.edit-btn').hide();
                row.find('.confirm-btn, .cancel-btn').show();
            });

            $('.confirm-btn').on('click', function () {
                var row = $(this).closest('tr');
                var userId = row.data('id');
                var updatedUser = {
                    username: row.find('.username input').val(),
                    rol: row.find('.rol select').val(),
                    verified: row.find('.verified select').val() === 'true'
                };

                if (confirm('¿Estás seguro de que quieres guardar los cambios?')) {
                    $.ajax({
                        type: 'PUT',
                        url: '/vivacventures/api/users/' + userId,
                        headers: {
                            'Authorization': 'Bearer ' + getAccessToken(),
                            'Content-Type': 'application/json'
                        },
                        data: JSON.stringify(updatedUser),
                        success: function (response) {
                            alert('Usuario actualizado correctamente.');
                            endEdit(row, updatedUser);
                        },
                        error: function (xhr, status, error) {
                            alert('Error al actualizar el usuario: ' + error);
                            cancelEdit(row);
                        }
                    });
                }
            });

            $('.cancel-btn').on('click', function () {
                var row = $(this).closest('tr');
                cancelEdit(row);
            });

            $('.delete-btn').on('click', function () {
                var row = $(this).closest('tr');
                var userId = row.data('id');

                if (confirm('¿Seguro que quieres eliminar este usuario ' + userId + '?')) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/vivacventures/api/users/delete/' + userId,
                        headers: {
                            'Authorization': 'Bearer ' + getAccessToken()
                        },
                        success: function (response) {
                            alert('Usuario eliminado correctamente.');
                            row.remove();
                        },
                        error: function (xhr, status, error) {
                            alert('Error al eliminar el usuario: ' + error);
                        }
                    });
                }
            });
        }

        function endEdit(row, updatedUser) {
            row.find('.username').text(updatedUser.username);
            row.find('.rol').text(updatedUser.rol);
            row.find('.verified').text(updatedUser.verified);
            row.find('.edit-btn').show();
            row.find('.confirm-btn, .cancel-btn').hide();
            editingRow = null;
        }

        function cancelEdit(row) {
            row.find('.username').text(originalValues.username);
            row.find('.rol').text(originalValues.rol);
            row.find('.verified').text(originalValues.verified);
            row.find('.edit-btn').show();
            row.find('.confirm-btn, .cancel-btn').hide();
            editingRow = null;
        }

        function refreshTokensAndReloadUsers() {
            $.ajax({
                type: 'GET',
                url: '/vivacventures/auth/refreshToken',
                data: {
                    'refreshToken': getRefreshToken()
                },
                success: function(response) {
                    localStorage.setItem('accessToken', response.accessToken);
                    localStorage.setItem('refreshToken', response.refreshToken);
                    getUsers();
                },
                error: function(xhr, status, error) {
                    alert("Error al refrescar el token: ", error);
                }
            });
        }

        getUsers();
    });
</script>


</body>
</html>